<template name="doctores">
  <div class="panel">
    <div class="panel-body container-fluid">
      <div class="row row-lg">
        <div class="col-md-12 col-xs-12">
          <!-- Example Basic Form -->
          <div class="example-wrap">
            <h3 class="example-title">{{#if this.data}} Editar Doctor {{else}} Crear Doctor{{/if}}</h3>
            <div class="example">
              <form autocomplete="off" id="doctores">
                <div class="row">
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicFirstName">Nombre</label>
                    <input type="text" value="{{this.data.nombre}}" class="form-control form-control-lg" data-field="nombre" id="inputBasicFirstName" name="inputFirstName"
                   autocomplete="off" />
                  </div>
                  
                  
                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicFirstName">Apellido</label>
                    <input type="text" value="{{this.data.apellido}}" class="form-control form-control-lg" data-field="apellido" id="inputBasicFirstName" name="inputFirstName"
                   autocomplete="off" />
                  </div>
                  
                 
                  
                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Correo</label>
                   <input type="email" value="{{this.data.correo}}" class="form-control form-control-lg" data-field="correo" id="inputBasicEmail" name="inputEmail"
                     autocomplete="off" />
                  </div>
                  
                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Especialidad</label>
                    <input type="text" value="{{this.data.especialidad}}" class="form-control form-control-lg" data-field="especialidad" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                    <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Cedula</label>
                    <input type="text" value="{{this.data.cedula}}" class="form-control form-control-lg" data-field="cedula" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                 <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Estado</label>
                <select data-field="estado" class="form-control form-control-lg">
                  <option {{selected this.data.estado 'Activo'}}>Activo</option>
                  <option {{selected this.data.estado 'Activo'}}>Inactivo</option>
                </select>
            </div></div> 
                <div class="form-group col-xs-12 col-md-12"><div class="example">
                  <button type="submit" class="btn btn-primary">{{#if this.data}} Guardar {{else}} Agregar{{/if}}</button>
                </div></div>
                
              </form>
            </div>
            
          </div>
          <!-- End Example Basic Form -->
        </div>
        </div>
      </div>
    </div>
</template>