<template name="roles">
  <div class="panel">
    <div class="panel-body container-fluid">
      <div class="row row-lg">
        <div class="col-md-12 col-xs-12">
          <!-- Example Basic Form -->
          <div class="example-wrap">
            <h3 class="example-title">Crear Role</h3>
            <div class="example">
              <form autocomplete="off">
                <div class="row">
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicFirstName">Nombre del Role</label>
                    <input type="text" class="form-control form-control-lg" id="inputBasicFirstName" name="inputFirstName"
                   autocomplete="off" />
                  </div>
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Descripcion</label>
                    <input type="text" class="form-control form-control-lg" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                  
                  
                 
<div class="form-group col-xs-12 col-md-12">
                    <label class="form-control-label" for="inputBasicLastName">Estado</label>
              <select class="form-control form-control-lg">
                <option>Activo</option>
                <option>Inactivo</option>
               
                
              </select>
            </div></div> 
             
               
            
               
                <div class="form-group col-xs-12 col-md-12"><div class="example">
                  <button type="button" class="btn btn-primary">Agregar</button>
                </div></div>
                
              </form>
            </div>
            
          </div>
          <!-- End Example Basic Form -->
        </div>
       
       
       
      
        </div>
      </div>
    </div>
</template>