<template name="consultorios">
  <div class="panel">
    <div class="panel-body container-fluid">
      <div class="row row-lg">
        <div class="col-md-12 col-xs-12">
          <!-- Example Basic Form -->
          <div class="example-wrap">
            <h3 class="example-title">{{#if this.data}} Editar Consultorio {{else}} Crear Consultorio{{/if}}</h3>
            <div class="example">
              <form autocomplete="off" id="consultorios">
                <div class="row">
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicFirstName">Nombre de Consultorio</label>
                    <input type="text" value="{{this.data.nombre}}" class="form-control form-control-lg" data-field="nombre" id="inputBasicFirstName" name="inputFirstName"
                   autocomplete="off" />
                  </div>
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Direccion</label>
                    <input type="text" value="{{this.data.direccion}}" class="form-control form-control-lg" data-field="direccion" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Ciudad</label>
                    <input type="text" value="{{this.data.ciudad}}" class="form-control form-control-lg" data-field="ciudad" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Estado</label>
                   <input type="text" value="{{this.data.estado}}" class="form-control form-control-lg" data-field="estado" id="inputBasicEmail" name="inputEmail"
                     autocomplete="off" />
                  </div>
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Pais</label>
                      <input type="text" value="{{this.data.pais}}" class="form-control form-control-lg" data-field="pais" id="inputBasicPassword" name="inputPassword"
                     autocomplete="off" />
                  </div>
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Codigo Postal</label>
                    <input type="text" value="{{this.data.zip}}" class="form-control form-control-lg" data-field="zip" id="inputBasicPassword" name="inputPassword"
                     autocomplete="off" />
                  </div>


                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Telefono </label>
                     <input type="text" value="{{this.data.telefono}}" class="form-control form-control-lg" data-field="telefono" id="inputBasicPassword" name="inputPassword"
                     autocomplete="off" />
                  </div>


                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Correo </label>
                      <input type="email" value="{{this.data.correo}}" class="form-control form-control-lg" data-field="correo" id="inputBasicPassword" name="inputPassword"
                     autocomplete="off" />
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">{{#if this.data}} Guardar {{else}} Agregar{{/if}}</button>
                </div>
              </form>
            </div>
          </div>
          <!-- End Example Basic Form -->
        </div>
        </div>
      </div>
    </div>
</template>
