<template name="pacientes">
  <div class="panel">
    <div class="panel-body container-fluid">
      <div class="row row-lg">
        <div class="col-md-12 col-xs-12">
          <!-- Example Basic Form -->
          <div class="example-wrap">
            <h3 class="example-title">{{#if this.data}} Editar Paciente {{else}} Crear Paciente{{/if}}</h3>
            <div class="example">
              <form autocomplete="off" id="pacientes">
                <div class="row">
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicFirstName">Nombre</label>
                    <input value="{{this.data.nombre}}" type="text" class="form-control form-control-lg" data-field="nombre" id="inputBasicFirstName" name="inputFirstName"
                   autocomplete="off" />
                  </div>
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Apellido</label>
                    <input value="{{this.data.apellido}}" type="text" class="form-control form-control-lg" data-field="apellido" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                  
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Fecha de Nacimiento</label>
                     <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon wb-calendar" aria-hidden="true"></i>
                </span>
                <input value="{{this.data.fechaNacimiento}}" type="text" data-field="fechaNacimiento" class="form-control form-control-lg" data-plugin="datepicker">
              </div>
                  </div>
                  
                 
                  
                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Correo</label>
                   <input value="{{this.data.correo}}" type="email" class="form-control form-control-lg" data-field="correo" id="inputBasicEmail" name="inputEmail"
                     autocomplete="off" />
                  </div>
                  
                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Direccion</label>
                    <input value="{{this.data.direccion}}" type="text" class="form-control form-control-lg" data-field="direccion" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                    <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Ciudad / Estado / Pais</label>
                    <input value="{{this.data.ciudad}}" type="text" class="form-control form-control-lg" data-field="ciudad" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                  
                    <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Telefono de Casa</label>
                    <input value="{{this.data.telefonoCasa}}" type="text" class="form-control form-control-lg" data-field="telefonoCasa" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                  
                  
                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Telefono de Trabajo</label>
                    <input value="{{this.data.telefonoTrabajo}}" type="text" class="form-control form-control-lg" data-field="telefonoTrabajo" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                  
                  
                  
                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Celular</label>
                    <input value="{{this.data.celular}}" type="text" class="form-control form-control-lg" data-field="celular" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                  
                  
                  
                  
                  
                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Ocupacion</label>
                    <input value="{{this.data.ocupacion}}" type="text" class="form-control form-control-lg" data-field="ocupacion" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                  
                   <div class="form-group col-xs-12 col-md-12"><div class="example">
                    <label class="form-control-label" for="inputBasicLastName">Como se entero de Nosotros?</label>
                    <select data-field="feedback" class="form-control form-control-lg">
                      <option {{selected this.data.feedback 'Facebook'}}>Facebook</option>
                      <option {{selected this.data.feedback 'Spanchat'}}>Snapchat</option>
                      <option {{selected this.data.feedback 'Youtube'}}>Youtube</option>
                      <option {{selected this.data.feedback 'Publicidad Impresa'}}>Publicidad Impresa</option>
                      <option {{selected this.data.feedback 'Website'}}>Website</option>
                      <option {{selected this.data.feedback 'Otros'}}>Otros</option>
                    </select>
            </div></div>
                <div class="form-group col-xs-12 col-md-12"><div class="example">
                  <button type="submit" class="btn btn-primary">{{#if this.data}} Guardar {{else}} Agregar{{/if}}</button>
                </div></div>
              </div>
              </form>
            </div>
            
          </div>
          <!-- End Example Basic Form -->
        </div>
        </div>
      </div>
    </div>
</template>