<template name="servicios">
  <div class="panel">
    <div class="panel-body container-fluid">
      <div class="row row-lg">
        <div class="col-md-12 col-xs-12">
          <!-- Example Basic Form -->
          <div class="example-wrap">
            <h3 class="example-title">{{#if this.data}} Editar Servicio {{else}} Crear Servicio{{/if}}</h3>
            <div class="example">
              <form autocomplete="off" id="servicios">
                <div class="row">
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicFirstName">Nombre del Servicio</label>
                    <input value="{{this.data.nombre}}" type="text" class="form-control form-control-lg" data-field="nombre" id="inputBasicFirstName" name="inputFirstName"
                   autocomplete="off" />
                  </div>
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Descripcion</label>
                    <input value="{{this.data.descripcion}}" type="text" class="form-control form-control-lg" data-field="descripcion" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Costo</label>
                    <input value="{{this.data.costo}}" type="text" class="form-control form-control-lg" data-field="costo" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                    <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Duración</label>
                    <input value="{{this.data.duracion}}" type="text" class="form-control form-control-lg" data-field="duracion" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                <div class="form-group col-xs-12 col-md-12"><div class="example">
                  <button type="submit" class="btn btn-primary">{{#if this.data}} Guardar {{else}} Agregar{{/if}}</button>
                </div></div>
              </div>
              </form>
            </div>
            
          </div>
          <!-- End Example Basic Form -->
        </div>
        </div>
      </div>
    </div>
</template>