<template name="usuarios">
  <div class="panel">
    <div class="panel-body container-fluid">
      <div class="row row-lg">
        <div class="col-md-12 col-xs-12">
          <!-- Example Basic Form -->
          <div class="example-wrap">
            <h3 class="example-title">{{#if this.data}} Editar Usuario {{else}} Crear Usuario{{/if}}</h3>
            <div class="example">
              <form id="usuarios" autocomplete="off">
                <div class="row">
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicFirstName">Nombre</label>
                    <input value="{{this.data.profile.nombre}}" type="text" class="form-control form-control-lg"  data-field="nombre" id="inputBasicFirstName" name="inputFirstName"
                   autocomplete="off" />
                  </div>
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Apellido</label>
                    <input value="{{this.data.profile.apeliido}}" type="text" class="form-control form-control-lg"  data-field="apellido" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>

                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Telefono</label>
                    <input value="{{this.data.profile.telefono}}" type="text" class="form-control form-control-lg"  data-field="telefono" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>

                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Celular</label>
                    <input value="{{this.data.profile.celular}}" type="text" class="form-control form-control-lg"  data-field="celular" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>


                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Correo</label>
                   <input value="{{this.data.username}}" type="email" class="form-control form-control-lg"  data-field="email" id="inputBasicEmail" name="inputEmail"
                     autocomplete="off" />
                  </div>

                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Contraseña</label>
                     <input type="password" class="form-control form-control-lg"  data-field="password" id="inputBasicPassword" name="inputPassword"
                     autocomplete="off" />
                  </div>
                    <div class="form-group col-xs-12 col-md-12">
                    <div class="example">
                    <label class="form-control-label"  for="inputBasicLastName">Permisos</label>
                      <select data-field="role" class="form-control form-control-lg">
                        <option {{selected this.data.profile.role 'Admin'}}>Admin</option>
                        <option {{selected this.data.profile.role 'Miembro'}}>Miembro</option>
                        <option {{selected this.data.profile.role 'Invitado'}}>Invitado</option>
                      </select>
                      </div>
                    </div>



                </div>



            <div class="form-group">
             <label class="form-control-label" for="inputBasicLastName">Foto</label>
              <div class="input-group input-group-file" data-plugin="inputGroupFile">
                <input type="text" class="form-control" readonly>
                <span class="input-group-btn">
                  <span class="btn btn-outline btn-file">
                    <i class="icon wb-upload" aria-hidden="true"></i>
                    <input type="file" name="" multiple>
                  </span>
                </span>
              </div>
            </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">{{#if this.data}} Guardar {{else}} Agregar{{/if}}</button>
                </div>
              </form>
            </div>
          </div>
          <!-- End Example Basic Form -->
        </div>
        </div>
      </div>
    </div>
</template>
