<template name="horarios">
  <div class="panel">
    <div class="panel-body container-fluid">
      <div class="row row-lg">
        <div class="col-md-12 col-xs-12">
          <!-- Example Basic Form -->
          <div class="example-wrap">
            <h3 class="example-title">{{#if this.data}} Editar Horario {{else}} Crear Horario{{/if}}</h3>
            <div class="example">
              <form autocomplete="off" id="horarios">
                <div class="row">
                
                <div class="form-group col-xs-12 col-md-12">
                    <label class="form-control-label" for="inputBasicLastName">Clave Horario</label>
                    <input value="{{this.data.nombre}}" type="text" class="form-control form-control-lg" data-field="nombre" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicFirstName">Horario Inicial</label>
                   <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon wb-time" aria-hidden="true"></i>
                </span>
                <input value="{{this.data.horarioInicial}}" type="text" data-field="horarioInicial" class="form-control form-control-lg datepair-time datepair-start" data-plugin="timepicker"
                />
              </div>
                  </div>
                  
                  
                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicFirstName">Horario Final</label>
                   <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon wb-time" aria-hidden="true"></i>
                </span>
                <input value="{{this.data.horarioFinal}}" type="text" data-field="horarioFinal" class="form-control form-control-lg datepair-time datepair-start" data-plugin="timepicker"
                />
              </div>
                  </div>
                 <div class="form-group col-xs-12 col-md-12">
                    <label class="form-control-label" for="inputBasicLastName">Estado</label>
              <select data-field="estado" class="form-control form-control-lg">
                <option {{selected this.data.estado 'Activo'}}>Activo</option>
                <option {{selected this.data.estado 'Activo'}}>Inactivo</option>
              </select>
            </div></div> 
                <div class="form-group col-xs-12 col-md-12"><div class="example">
                  <button type="submit" class="btn btn-primary">{{#if this.data}} Guardar {{else}} Agregar{{/if}}</button>
                </div></div>
                
              </form>
            </div>
            
          </div>
          <!-- End Example Basic Form -->
        </div>
        </div>
      </div>
    </div>
</template>