<template name="login">
  <div class="page-login layout-full page-dark">
    <div class="page vertical-align text-xs-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
      <div class="page-content vertical-align-middle">
        <div class="brand">
          <h2 class="brand-text">Dr. Quintanilla</h2>
        </div>
        <p>Ingresa tus datos para aceesar</p>
        <form method="post" id="login">
          
          <div class="form-group">
            <label class="sr-only" for="inputEmail">Correo:</label>
            <input type="email" data-field="email" class="form-control" id="inputEmail" name="email" placeholder="Correo">
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputPassword">Contraseña:</label>
            <input type="password" data-field="password" class="form-control" id="inputPassword" name="password"
            placeholder="Contraseña">
          </div>
          <div class="form-group clearfix">
           
           
          </div>
          <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
        </form>
       
        <footer class="page-copyright page-copyright-inverse">
          <p>WEBSITE BY Studiomedia</p>
          <p>© 2017. All RIGHT RESERVED.</p>
          <div class="social">
            <!-- <a href="javascript:void(0)">
              <i class="icon bd-twitter" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="icon bd-facebook" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="icon bd-dribbble" aria-hidden="true"></i>
            </a> -->
          </div>
        </footer>
      </div>
    </div>
  </div>
</template>