<template name="modal">
  <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="modal-attach" data-field={{dataField}} data-field-id="{{dataFieldId}}" data-step-id="{{dataStepId}}" data-template-id="{{dataTemplateId}}">
    <div class="modal-dialog {{size}}" role="document">
      <div class="modal-content">
        <!-- {{#if header}}
        <div class="modal-header text-xs-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="modal-attach">{{header}}</h5>
        </div>
        {{/if}} -->

        <div class="modal-body {{scroll}} {{bodyClass}}">
          {{> Template.dynamic template = modalContent}}
        </div>

        <!-- {{#if modalFooter}}
          <div class="modal-footer">
            {{> Template.dynamic template = modalFooter}}
          </div>
        {{/if}} -->

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>