<template name="clinicas">
  <div class="panel">
    <div class="panel-body container-fluid">
      <div class="row row-lg">
        <div class="col-md-12 col-xs-12">
          <!-- Example Basic Form -->
          <div class="example-wrap">
            <h3 class="example-title">{{#if this.data}} Editar Clinica {{else}} Crear Clinica{{/if}}</h3>
            <div class="example">
              <form autocomplete="off" id="clinicas">
                <div class="row">
                  <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicFirstName">Nombre de Clinica</label>
                    <input type="text" value="{{this.data.nombre}}" class="form-control form-control-lg" data-field="nombre" id="inputBasicFirstName" name="inputFirstName"
                   autocomplete="off" />
                  </div>
                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Correo</label>
                   <input type="email" value="{{this.data.correo}}" class="form-control form-control-lg" data-field="correo" id="inputBasicEmail" name="inputEmail"
                     autocomplete="off" />
                  </div>
                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Direccion</label>
                    <input type="text" value="{{this.data.direccion}}" class="form-control form-control-lg" data-field="direccion" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                    <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Ciudad / Estado / Pais</label>
                    <input type="text" value="{{this.data.ciudad}}" class="form-control form-control-lg" data-field="ciudad" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                    <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Telefono</label>
                    <input type="text" value="{{this.data.telefono}}" class="form-control form-control-lg" data-field="telefono" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                   <div class="form-group col-xs-12 col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Celular</label>
                    <input type="text" value="{{this.data.celular}}" class="form-control form-control-lg" data-field="celular" id="inputBasicLastName" name="inputLastName"
                     autocomplete="off" />
                  </div>
                 <div class="form-group col-xs-12 col-md-12"><div class="example">
                    <label class="form-control-label" for="inputBasicLastName">Estado</label>
                      <select data-field="estado" class="form-control form-control-lg">
                        <option {{selected this.data.estado 'Activo'}}>Activo</option>
                        <option {{selected this.data.estado 'Inactivo'}}>Inactivo</option>
                      </select>
                    </div></div> 
                <div class="form-group col-xs-12 col-md-12"><div class="example">
                  <button type="submit" class="btn btn-primary">{{#if this.data}} Guardar {{else}} Agregar{{/if}}</button>
                </div></div>
              </div>
              </form>
            </div>
            
          </div>
          <!-- End Example Basic Form -->
        </div>
        </div>
      </div>
    </div>
</template>